<section class="foot flex">
    <div class="foot-top flex">
       <div class="foot-top-left flex">
           <h1 style="color: #FFFFFF; font-size: 20px;">Key Partners</h1>
       </div>
       <div class="foot-top-right">

       </div>
    </div>
    <hr class="white-line">
    <div class="foot-med flex">
       <div class="foot-med-left flex">
           <h1 style="color: #FFFFFF; font-size: 50px;">Hsy</h1>
       </div>
       <div class="foot-med-right flex">
           <h1>NAVIGATE</h1>
           <a href="/listProp">List Your Property</a>
           <a href="/agentlist">Agents</a>
           <a href="/properties">Properties</a>
       </div>
    </div>
    <hr class="white-line">

    <div class="foot-bot flex">
       <div class="foot-bot-left">
           <h1>User agreement·Privacy policy·Cookies</h1>
       </div>
       <div class="foot-bot-right">

       </div>
    </div>
</section>
