    <nav class="navbar flex">
            <a class="logo"  href="/">Hsy</a>
            <div class="sec-nav flex">
                <a href="/listProp">List Your Property</a>
                <a href="/agentlist">Agents</a>
                <a href="/properties">Properties</a>
                <i class="ri-menu-3-line"></i>
            </div>
    </nav>
